<div>
  <table>
    <tr>
      <td><%= @micropost.title %></td>
    </tr>
    <tr>
      <td><%= @micropost.created_at %></td>
    </tr>
    <tr>
      <td><%= @micropost.content %></td>
    </tr>
  </table>
</div>
