<div>
  <table>
    <tr>
      <td><%= @micropost.title %></td>
    </tr>
    <tr>
      <td><%= @micropost.created_at %></td>
    </tr>
    <tr>
      <td><%= @micropost.content %></td>
    </tr>
    <tr>
      <td><%= link_to "delete", @micropost, method: :delete, data: {confirm: "You sure?"} %></td>
    </tr>
  </table>

</div>
