@import "bootstrap-sprockets";
@import "bootstrap";


// microposts

// 画像のトリミング
.thumbnail150 {
  width:150px;
  height:150px;
  object-fit:cover;
}

.picture150 {
  width:150px;
  height:150px;
}

.caption {
  height: 350px;
}
