<nav class="navbar navbar-default">
  <a class="navbar-brand" href="/">home</a>
  <a class="navbar-brand" href="/microposts/new">new</a>
  <a class="navbar-brand" href="/microposts">index</a>

  <%= link_to 'user/new', new_user_path, class: 'navbar-brand' %>
  <%= link_to 'users/index', users_path, class: 'navbar-brand' %>
</nav>
